body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

#genealogy-container {
  height: 95vh;
  width: 95vw;
  position: absolute;
  border: 1px solid white;
  overflow: hidden;
}
